@font-face {
	font-family: 'OpenSansLight';
	src: url('../fonts/OpenSans-Light-webfont.eot');
	src: url('../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Light-webfont.woff') format('woff'), url('../fonts/OpenSans-Light-webfont.ttf') format('truetype'), url('../fonts/OpenSans-Light-webfont.svg#OpenSansLight') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSansRegular';
	src: url('../fonts/OpenSans-Regular-webfont.eot');
	src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Regular-webfont.woff') format('woff'), url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'), url('../fonts/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSansBold';
	src: url('../fonts/OpenSans-Bold-webfont.eot');
	src: url('../fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Bold-webfont.woff') format('woff'), url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype'), url('../fonts/OpenSans-Bold-webfont.svg#OpenSansBold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'oswaldlight';
	src: url('../fonts/oswald-light-webfont.eot');
	src: url('../fonts/oswald-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/oswald-light-webfont.woff') format('woff'), url('../fonts/oswald-light-webfont.ttf') format('truetype'), url('../fonts/oswald-light-webfont.svg#oswaldlight') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'oswaldbook';
	src: url('../fonts/oswald-regular-webfont.eot');
	src: url('../fonts/oswald-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/oswald-regular-webfont.woff') format('woff'), url('../fonts/oswald-regular-webfont.ttf') format('truetype'), url('../fonts/oswald-regular-webfont.svg#oswaldbook') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'oswaldbold';
	src: url('../fonts/oswald-bold_0-webfont.eot');
	src: url('../fonts/oswald-bold_0-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/oswald-bold_0-webfont.woff') format('woff'), url('../fonts/oswald-bold_0-webfont.ttf') format('truetype'), url('../fonts/oswald-bold_0-webfont.svg#oswaldbold') format('svg');
	font-weight: normal;
	font-style: normal;
}
.clearFix {
	clear: both;
}
.main_h{font-family: oswaldlight; font-size:34px; text-align:center;}
.container {
	width: 1170px;
	padding-right: 15px;
	padding-left: 15px;
	clear: both;
	margin-right: auto;
	margin-left: auto;
}
.landingBannerBackground {
	background-image: url(../images/landing-banner-background.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	position: relative;
}
.header {
	padding-top: 15px;
	padding-bottom: 15px;
	float: left;
	width: 100%;
}
.miles {
	float: left;
}
.miles h2 {
	font-size: 55px!important;
	text-transform: uppercase;
	color: #FFF;
	padding-bottom: 0px;
	font-family: oswaldlight;
	line-height: 125px;
}
.headerRight {
	float: right;
	margin-top: 18px;
}
.headerLogin {
	float: left;
}
.loginButton {
	font-family: OpenSansRegular;
	font-size: 14px;
	color: #3e4146;
	background-color: #FFF;
	display: inline-block;
	padding-top: 5px;
	padding-right: 15px;
	padding-bottom: 5px;
	padding-left: 15px;
	border: 1px solid #3e4146;
	cursor: pointer;
	-webkit-transition: all 0.3s ease-in-out 0.1s;
	-moz-transition: all 0.3s ease-in-out 0.1s;
	-ms-transition: all 0.3s ease-in-out 0.1s;
	-o-transition: all 0.3s ease-in-out 0.1s;
	transition: all 0.3s ease-in-out 0.1s;
	margin-left: 2px;
}
.loginButton:hover {
	color: #FFFFFF;
	background-color: #3e4146;
	border-top-color: #3e4146;
	border-right-color: #3e4146;
	border-bottom-color: #3e4146;
	border-left-color: #3e4146;
	-webkit-transition: all 0.3s ease-in-out 0.1s;
	-moz-transition: all 0.3s ease-in-out 0.1s;
	-ms-transition: all 0.3s ease-in-out 0.1s;
	-o-transition: all 0.3s ease-in-out 0.1s;
	transition: all 0.3s ease-in-out 0.1s;
}
.socialMedia {
	float: left;
	margin-top: 6px;
	margin-left: 5px;
}
.socialMedia .fa {
	color: #3e4146;
	font-size: 26px;
	margin-left: 4px;
	-webkit-transition: all 0.3s ease-in-out 0.1s;
	-moz-transition: all 0.3s ease-in-out 0.1s;
	-ms-transition: all 0.3s ease-in-out 0.1s;
	-o-transition: all 0.3s ease-in-out 0.1s;
	transition: all 0.3s ease-in-out 0.1s;
}
.socialMedia .fa:hover {
	color: #FFFFFF;
	-webkit-transition: all 0.3s ease-in-out 0.1s;
	-moz-transition: all 0.3s ease-in-out 0.1s;
	-ms-transition: all 0.3s ease-in-out 0.1s;
	-o-transition: all 0.3s ease-in-out 0.1s;
	transition: all 0.3s ease-in-out 0.1s;
}
.banner {
	float: left;
	width: 100%;
	padding-top: 50px;
}
.banner .image {
	float: left;
	width: 50%;
	border: 13px solid #2a2a2a;
	border-radius: 10px;
}
.banner .text {
	float: left;
	width: 50%;
	padding-left: 50px;
}
.banner .text h2 {
	font-size: 125px;
	text-transform: uppercase;
	color: #FFF;
	padding-bottom: 0px;
	font-family: oswaldlight;
	line-height: 125px;
}
.banner .text h3 {
	font-size: 25px;
	text-transform: uppercase;
	color: #3e4146;
	padding-bottom: 35px;
	font-family: oswaldlight;
}
.bannerButton {
	font-size: 24px;
	text-transform: uppercase;
	color: #FFF;
	background-color: #0073f4;
	border-bottom-width: 3px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #0a4a92;
	border-radius: 4px;
	padding-top: 12px;
	padding-right: 30px;
	padding-bottom: 12px;
	padding-left: 30px;
	margin-right: 10px;
	cursor: pointer;
	-webkit-transition: all 0.3s ease-in-out 0.1s;
	-moz-transition: all 0.3s ease-in-out 0.1s;
	-ms-transition: all 0.3s ease-in-out 0.1s;
	-o-transition: all 0.3s ease-in-out 0.1s;
	transition: all 0.3s ease-in-out 0.1s;
	font-family: oswaldbook;
}
.bannerButton:hover {
	color: #FFF;
	background-color: #2ea002;
	border-bottom-color: #237C01;
	-webkit-transition: all 0.3s ease-in-out 0.1s;
	-moz-transition: all 0.3s ease-in-out 0.1s;
	-ms-transition: all 0.3s ease-in-out 0.1s;
	-o-transition: all 0.3s ease-in-out 0.1s;
	transition: all 0.3s ease-in-out 0.1s;
	text-shadow: 1px 1px #237C01;
}
.bannerOverlay {
	background-image: url(../images/white-background.png);
	background-repeat: no-repeat;
	background-position: center top;
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
	height: 220px;
	z-index:-1;
}
.bannerOverlay {
	background-image: url(../images/white-background.png);
	background-repeat: no-repeat;
	background-position: center top;
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
	height: 220px;
}
.bannerOverlay2 {
	background-image: url(../images/white-background2.png);
	background-repeat: no-repeat;
	background-position: center top;
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
	height: 236px;
}
.clickHere {
	text-align: center;
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
}
.askYourself {
	background-color: #FFF;
	padding-top: 50px;
}
.askYourself h1 {
	font-size: 48px;
	color: #3e4146;
	text-align: center;
	padding-bottom: 15px;
	text-transform: uppercase;
	font-family: oswaldlight;
}

.askYourself h3 {
	font-size: 25px;
	color: #3e4146;
	font-weight:bold;
	text-align: center; margin-top:20px;
	padding-bottom: 10px;
	text-transform: uppercase;
	font-family: Open Sans, Arial, sans-serif;
}
.askYourself p {
	font-size: 24px;
	color: #3e4146;
	padding-bottom: 20px;
	line-height: 36px;
	font-family: OpenSansLight;
}
.askYourselfBlock {
	float: left;
	width: 100%;
	padding-bottom: 50px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #d7d7d7;
	margin-bottom: 50px;
}
.askYourselfBlock.borderOff {
	border: none;
}
.askYourselfBlock .image {
	width: 30%;
	float: left;
	text-align: center;
	padding-right: 20px;
	padding-left: 20px;
}
.askYourselfBlock .imageTwo {
	width: 30%;
	float: right;
	text-align: center;
	padding-right: 20px;
	padding-left: 20px;
}
.askYourselfBlock .text {
	width: 70%;
	float: left;
	padding-top: 67px;
	padding-right: 20px;
	padding-left: 20px;
}
.askYourselfBlock .textTwo {
	width: 70%;
	float: left;
	padding-top: 20px;
	padding-right: 20px;
	padding-left: 20px;
}
.newsletterBackground {
	background-image: url(../images/white-background2.png);
	background-color: #c1c1c1;
	background-repeat: no-repeat;
	background-position: center top;
	float: left;
	width: 100%;
	padding-top: 210px;
	padding-bottom: 50px;
}
.newsletterBox {
	float: left;
	width: 100%;
}
.newsletterBox h2 {
	text-align: center;
	font-family: OpenSansLight;
	font-size: 24px;
	color: #3e4146;
	padding-bottom: 0px;
}
.newsletterBox h3 {
	text-align: center;
	font-family: OpenSansBold;
	font-size: 14px;
	color: #3e4146;
	padding-bottom: 15px;
}
.newsletterBoxInputGroup {
	width: 100%;
	text-align: center;
}
.newsletterBoxInput {
	width: 398px;
	border: 1px solid #adadad;
	font-size: 14px;
	color: #666;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	-webkit-border-radius: 4px;
	font-family: OpenSansRegular;
	display: inline-block;
	padding-top: 12px;
	padding-right: 10px;
	padding-bottom: 12px;
	padding-left: 10px;
	margin-right: 10px;
}
.newsletterBoxButton {
	font-size: 18px;
	text-transform: uppercase;
	color: #FFF;
	background-color: #0073f4;
	border-bottom-width: 3px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #0a4a92;
	border-radius: 4px;
	padding-top: 5px;
	padding-right: 26px;
	padding-bottom: 6px;
	padding-left: 26px;
	cursor: pointer;
	-webkit-transition: all 0.3s ease-in-out 0.1s;
	-moz-transition: all 0.3s ease-in-out 0.1s;
	-ms-transition: all 0.3s ease-in-out 0.1s;
	-o-transition: all 0.3s ease-in-out 0.1s;
	transition: all 0.3s ease-in-out 0.1s;
	font-family: oswaldbook;
	display: inline-block;
}
.newsletterBoxButton:hover {
	color: #FFF;
	background-color: #2ea002;
	border-bottom-color: #237C01;
	-webkit-transition: all 0.3s ease-in-out 0.1s;
	-moz-transition: all 0.3s ease-in-out 0.1s;
	-ms-transition: all 0.3s ease-in-out 0.1s;
	-o-transition: all 0.3s ease-in-out 0.1s;
	transition: all 0.3s ease-in-out 0.1s;
	text-shadow: 1px 1px #237C01;
}
.schematicBlock {
	float: left;
	width: 100%;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 50px;
}
.schematicBlock .image {
	display: block;
	text-align: center;
	padding-bottom: 30px;
}
.schematicButton {
	font-size: 24px;
	text-transform: uppercase;
	color: #FFF;
	background-color: #0073f4;
	border-bottom-width: 3px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #0a4a92;
	border-radius: 4px;
	padding-top: 12px;
	padding-right: 30px;
	padding-bottom: 12px;
	padding-left: 30px;
	cursor: pointer;
	-webkit-transition: all 0.3s ease-in-out 0.1s;
	-moz-transition: all 0.3s ease-in-out 0.1s;
	-ms-transition: all 0.3s ease-in-out 0.1s;
	-o-transition: all 0.3s ease-in-out 0.1s;
	transition: all 0.3s ease-in-out 0.1s;
	font-family: oswaldbook;
	font-weight: normal;
}
.schematicButton:hover {
	color: #FFF;
	background-color: #2ea002;
	border-bottom-color: #237C01;
	-webkit-transition: all 0.3s ease-in-out 0.1s;
	-moz-transition: all 0.3s ease-in-out 0.1s;
	-ms-transition: all 0.3s ease-in-out 0.1s;
	-o-transition: all 0.3s ease-in-out 0.1s;
	transition: all 0.3s ease-in-out 0.1s;
	text-shadow: 1px 1px #237C01;
}
.footer {
	background-color: #222428;
	width: 100%;
	float: left;
	padding-top: 15px;
	padding-right: 0px;
	padding-bottom: 15px;
	padding-left: 0px;
}
.footer p {
	text-align: left;
	float: left;
	width: 300px;
	color: #b7b7b7;
	font-family: OpenSansRegular;
	font-size: 13px;
	margin: 0px;
	padding: 10px 0px 0px 0px;
}
.footerSocialMedia {
	float: right;
	margin-top: 0px;
	margin-left: 5px;
}
.footerSocialMedia .fa {
	color: #3e4146;
	padding: 0px;
	font-size: 26px;
	line-height: 26px;
	margin-left: 4px;
	-webkit-transition: all 0.3s ease-in-out 0.1s;
	-moz-transition: all 0.3s ease-in-out 0.1s;
	-ms-transition: all 0.3s ease-in-out 0.1s;
	-o-transition: all 0.3s ease-in-out 0.1s;
	transition: all 0.3s ease-in-out 0.1s;
}
.footerSocialMedia .fa:hover {
	color: #FFFFFF;
	-webkit-transition: all 0.3s ease-in-out 0.1s;
	-moz-transition: all 0.3s ease-in-out 0.1s;
	-ms-transition: all 0.3s ease-in-out 0.1s;
	-o-transition: all 0.3s ease-in-out 0.1s;
	transition: all 0.3s ease-in-out 0.1s;
}
 @media (max-width: 1200px) {
.container {
	width: 960px;
}
.banner .text h2 {
	font-size: 110px;
	line-height: 110px;
}
.banner .text h3 {
	font-size: 22px;
	padding-bottom: 25px;
}
.bannerButton {
	font-size: 20px;
	padding: 8px 25px 8px 25px;
}
}
 @media (max-width: 992px) {
.container {
	width: 750px;
}
.landingBannerBackground {
	padding-bottom: 30px;
}
.banner .text {
	padding-left:30px;
}
.banner .text h2 {
	font-size: 60px;
	line-height: 60px;
}
.banner .text h3 {
	font-size: 17px;
	padding-bottom: 20px;
}
.bannerButton {
	font-size: 15px;
	padding: 8px 25px 8px 25px;
	margin-right: 4px;
}
.askYourself h1 {
	font-size: 35px;
}
.askYourselfBlock {
	padding-bottom: 30px;
	margin-bottom: 30px;
}
.askYourselfBlock .text {
	padding-top: 40px;
}
.askYourself p {
	font-size: 20px;
	line-height: 30px;
}
.newsletterBackground {
	background-position: center -60px;
	padding-top: 140px;
}
}
 @media (max-width: 767px) {
.container {
	width: auto;
	padding-right: 15px;
	padding-left: 15px;
}
.miles {
	width: 100%;
	text-align: center;
}
.miles h2 {
	font-size: 125px!important;
	text-transform: uppercase;
	color: #FFF;
	padding-bottom: 0px;
	font-family: oswaldlight;
	line-height: 125px;
}
.headerRight {
	float: right;
	width: 100%;
	text-align: center;
}
.headerLogin {
	float: none;
	display: inline-block;
}
.socialMedia {
	float: none;
	display: inline-block;
	margin: 0px;
	position: relative;
	top: 3px;
}
.banner {
	padding-top: 20px;
}
.banner .image {
	width: 60%;
	margin-bottom: 20px;
	clear: both;
	margin-right: auto;
	margin-left: auto;
	float: none;
}

.banner .text {
	width: 100%;
	text-align: center;
	padding:0px;
}
.landingBannerBackground {
	padding-bottom: 220px;
}
.banner .text h2 {
	font-size: 45px;
	line-height: 45px;
}
.bannerButton {
	margin-bottom: 2px;
	width: 60%;
}
.askYourselfBlock .image, .askYourselfBlock .imageTwo {
	width: 100%;
	padding: 0px 0px 15px 0px;
}
.askYourselfBlock .text, .askYourselfBlock .textTwo {
	width: 100%;
	padding: 0px 0px 0px 0px;
	text-align: center;
}
.newsletterBox h2 {
	padding-bottom: 5px;
}
.newsletterBox h3 {
	padding-bottom: 20px;
}
.newsletterBackground {
	padding-top: 120px;
}
.schematicButton {
	font-size: 16px;
}
.newsletterBoxInput {
	display: block;
	width: 100%;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 10px;
	margin-left: 0;
}
.footer p {
	float: none;
	text-align: center;
	width: auto;
	padding-top: 5px;
	padding-right: 0;
	padding-bottom: 15px;
	padding-left: 0;
}
.footerSocialMedia {
	float: none;
	text-align: center;
	margin: 0px;
	padding: 0px;
}
}
.banner-sm .text h2 {
font-size: 55px;
text-transform: uppercase;
color: #FFF;
padding-bottom: 0px;
font-family: oswaldlight;
line-height: 90px;
}

.bannerButton-gray {
	font-size: 15px;
	text-transform: uppercase;
	color: #FFF;
	background-color: #9b9b9b;
	border-bottom-width: 3px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #4d4d4d;
	border-radius: 4px;
	padding-top: 12px;
	padding-right: 30px;
	padding-bottom: 12px;
	padding-left: 30px;
	margin-right: 10px;
	cursor: pointer;
	-webkit-transition: all 0.3s ease-in-out 0.1s;
	-moz-transition: all 0.3s ease-in-out 0.1s;
	-ms-transition: all 0.3s ease-in-out 0.1s;
	-o-transition: all 0.3s ease-in-out 0.1s;
	transition: all 0.3s ease-in-out 0.1s;
	font-family: oswaldbook;
}
.bannerButton-gray:hover {
	color: #FFF;
	background-color: #2ea002;
	border-bottom-color: #237C01;
	-webkit-transition: all 0.3s ease-in-out 0.1s;
	-moz-transition: all 0.3s ease-in-out 0.1s;
	-ms-transition: all 0.3s ease-in-out 0.1s;
	-o-transition: all 0.3s ease-in-out 0.1s;
	transition: all 0.3s ease-in-out 0.1s;
	text-shadow: 1px 1px #237C01;
}
.banner-sm .text h3 {
font-size: 25px;
text-transform: uppercase;
color: #3e4146;
padding-bottom: 35px;
font-family: oswaldlight;
}
.headerleft {
	float: left;
	margin-top: 18px;
	margin-bottom: 100px;
}
.askYourselfBlock.text-full {
/* width: 70%; */
float: left;
padding-top: 0px;
padding-right: 20px;
padding-left: 20px;

}
.why55-text{
	font-size: 15px !important;
	line-height: 25px !important;
	text-align:center;
}
.content-deviser{padding:10px 30px 30px 30px;width:100%;background:url(../images/55miles-devider.png)no-repeat; margin: 10px 0px 20px 0px;background-size:100%;}
.testimonial h3{font-size: 25px;
text-transform: uppercase;
color: #3e4146;
padding-bottom: 35px;
font-family: oswaldlight;text-align:center;}
.padding-bottom{padding-bottom:0px !important;}
.margin-bottom{margin-bottom:0px !important;}
blockquote{font-family: oswaldlight;}
.contact-box{border:1px solid #e2e2e2;width:70%;box-shadow:0px 1px 11px 3px #e2e2e2;margin-bottom: 10px;}
.social-login{padding:20px 20px 20px 60px;border-bottom:1px solid #e2e2e2 !important;margin-bottom:10px;}
.social-links-btn{list-style:none;}
.social-links-btn > li > a{

text-align:center;
float:left;
margin-right: 46px;
padding:10px 10px 10px 45px;
border:1px solid #bdbdbd;
border-radius:5px;
margin-bottom: 10px;
font-family: 'oswaldbold';
letter-spacing: 1px;
}
.twitter-link{
	color:#5e96c4;
	background:#f4f4f4 url(../images/twitter.png)no-repeat scroll 6% 61%;
	}
.facebook-link{color:#3b5998;background:#f4f4f4 url(../images/facebook.png)no-repeat scroll 6% 61%;}
.google-link{color:#da4a38;background:#f4f4f4 url(../images/google.png)no-repeat scroll 6% 61%;}
.social-form{margin-top:20px;padding:30px;}
.col-sm-12{width:100%;float:left;padding-right: 20px;padding-left: 20px;}
.col-sm-6{width:50%;float:left;padding-right: 20px;padding-left: 20px; margin-bottom:30px;}
.position{
	padding:10px;
	border:1px solid #bdbdbd;
	width:100%;
	border-radius:5px;
	background:#F4F4F3 url(../images/downarrow.png)no-repeat scroll 98% 46%;
	color:#7B7C7C;
	appearance:none;
-moz-appearance:none; /* Firefox */
-webkit-appearance:none; /* Safari and Chrome */
	}
.text-box{
	padding:10px;
	border:1px solid #bdbdbd;
	width:100%;
	border-radius:5px;
	background:#F4F4F3 url(../images/ques.png)no-repeat scroll 98% 46%;
	color:#7B7C7C;}
.file-box{
	padding:10px;
	border:1px solid #bdbdbd;
	width:100%;
	border-radius:5px;
	filter: alpha(opacity=0);
	background:#F4F4F3 url(../images/ques.png)no-repeat scroll 98% 46%;
	color:#7B7C7C;
	-moz-appearance:none; /* Firefox */
-webkit-appearance:none; /* Safari and Chrome */
}

.position .text-box::-webkit-input-placeholder { /* WebKit browsers */
    color:    #fa2205;
}
.position.text-box:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #fa2205;
    opacity:  1;
}
.position.text-box::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #fa2205;
    opacity:  1;
}
.position.text-box:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #fa2205;
}			
.form-submit{
	background :url(../images/submit.png)no-repeat; 
	padding:15px 40px;
	color:#fff;
	text-align:center;
	font-weight:bold;
	cursor:pointer;
	margin:40px 0px;}
.error-msg{float:right;font-style:italic;font-size:14px; color:#da4a38;border:none !important;}
.error{border:1px solid #da4a38; }
@media(max-width:980px){
.contact-box {
   
    width: 90%;
   
}
.social-login {
    padding: 20px 20px 20px 23px;
    
    margin-bottom: 10px;
}
.social-links-btn > li > a {
   
    margin-right: 9px;
    padding: 10px 10px 10px 45px;
    
}
}

@media(max-width:480px){.social-links-btn > li > a {
    margin-right: 9px;
    padding: 10px 10px 10px 45px;
    width: 100%;
}
.twitter-link{color:#5e96c4;background: url('../images/twitter.png') no-repeat scroll 12% 61% #F4F4F4;}
.facebook-link{color:#3b5998;background:#f4f4f4 url(../images/facebook.png)no-repeat scroll 12% 61%;}
.google-link{color:#da4a38;background:#f4f4f4 url(../images/google.png)no-repeat scroll 12% 61%;}
.col-sm-6{width:100% !important;padding:0px !important;}
.col-sm-12{width:100% !important;padding:0px !important;}
.bannerButton-gray {
    display:block;
    width: 100%;
    margin-bottom: 15px;
}
